@import url('https://fonts.googleapis.com/css?family=Lato:thin,extra-light,light,100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');

@keyframes Title {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Title2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #4369b2;
}

.title {
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-size: larger;
  margin-left: 5%;
  text-align: center;
  color: black;
}

.first-card-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sac-img {
  width: 20%;
  height: auto;
}

.first-card {
  width: 40%;
  height: auto;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: larger;
  margin-left: 5%;
  text-align: center;
  color: white;
}

.description {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.stats {
  width: 100%;
  font-size: medium;
  height: auto;
  padding-left: 2.5%;
  background-color: #335594;
  font-family: 'Lato', sans-serif;
}

.second-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.5%;
  width: 100%;
  height: auto;
}

.country-btn {
  width: 95%;
  height: 300px;
  color: black;
  background-color: transparent;
  font-size: larger;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 0 0 100% 0;
  animation: Title 500ms forwards;
  opacity: 0;
  animation-delay: 500ms;
}

.card:nth-child(1) {
  background-image: url('./images/Argentina.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(2) {
  background-image: url('./images/Bolivia.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(3) {
  background-image: url('./images/Brazil.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(4) {
  background-image: url('./images/Chile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(5) {
  background-image: url('./images/Colombia.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(6) {
  background-image: url('./images/Ecuador.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(7) {
  background-image: url('./images/Guyana.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(8) {
  background-image: url('./images/Paraguay.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(9) {
  background-image: url('./images/Peru.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(10) {
  background-image: url('./images/Suriname.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(11) {
  background-image: url('./images/Uruguay.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(12) {
  background-image: url('./images/Venezuela.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.country-title {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.details-title {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.elli {
  list-style-type: none;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.corona-pic {
  padding: 0;
}

.det-cont {
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  animation: Title2 500ms forwards;
  opacity: 0;
  animation-delay: 500ms;
}

.detailsbar {
  border: solid white 2px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.5%;
  padding-right: 5px;
  margin: 10px 0;
  background-color: #557eca;
}

.confirmed-pic {
  width: 50px;
  height: 50px;
}

.return-btn {
  background-color: #bb2124;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: larger;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 97%;
  margin-left: 1.5%;
  margin-bottom: 3%;
  padding: 10px;
}

.images-cont {
  background-image: url('./images/Corona/corona1.svg');
  height: 200px;
  width: 100%;
  background-size: 100px;
  background-repeat: repeat;
  background-position: left top;
}

.btn-about {
  background-color: transparent;
  border: none;
  color: white;
  font-size: medium;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-decoration: underline;
}

.about-cont {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  font-weight: 600;
  color: white;
  margin-top: 5%;
}

.github,
.linkedin,
.twitter {
  width: 30px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 10px;
}
